@charset "UTF-8";.p-premium-bg {
    pointer-events: none
}

#form.-not-premium input:not([type=checkbox],[type=submit],[type=radio]),#form.-not-premium select,#form.-not-premium textarea {
    color: var(--clr-black)!important;
    background-color: var(--clr-white)!important;
    border: 1px solid var(--clr-black-30)
}

#form.-not-premium .wpcf7-list-item-label {
    color: inherit!important;
    cursor: pointer
}

#form.-not-premium .wpcf7-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 6px
}

#form.-not-premium .wpcf7-list-item {
    margin-left: 0
}

#form.-not-premium input:-internal-autofill-selected {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    background-color: var(--clr-white)!important;
    box-shadow: 0 0 0 1000px var(--clr-white) inset!important;
    -webkit-text-fill-color: var(--clr-black)!important
}

#form:not(.-not-premium) input[type=checkbox] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0)
}

#form:not(.-not-premium) input[type=checkbox]:checked+.f-form__confirm-label::before,#form:not(.-not-premium) input[type=checkbox]:checked+.wpcf7-list-item-label::before {
    background-color: #007bff
}

#form:not(.-not-premium) input[type=checkbox]:checked+.f-form__confirm-label::after,#form:not(.-not-premium) input[type=checkbox]:checked+.wpcf7-list-item-label::after {
    opacity: 1
}

#form .f-form__row {
    display: flex;
    gap: 5px;
    align-items: center
}

#form .f-form__radio-row .wpcf7-list-item+.wpcf7-list-item {
    margin-left: 10px
}

#form .f-form__num {
    width: 50px
}

#form .f-form__num input {
    padding: 10px!important;
    text-align: center
}

#form .f-form__num.-year {
    width: 60px
}

#form .f-form__timing {
    display: flex;
    gap: 10px;
    align-items: center
}

#form .f-form__timing:not(.-select)>.wpcf7-form-control-wrap:not(:nth-of-type(1),.-select) {
    flex: 1
}

#form .f-form__timing .wpcf7-list-item-label {
    display: none
}

#form .f-form__timing.-select>.wpcf7-form-control-wrap select {
    width: 50px;
    padding-right: 0;
    padding-left: 10px;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto
}

#form .f-form__default-select select {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto
}

#form .f-form__birth-block {
    display: flex;
    gap: 5px;
    align-items: center
}

#form .f-form__birth-block .wpcf7-form-control-wrap {
    flex: 1
}

#form p:not([class]) {
    line-height: 1
}

#form .f-form__block {
    display: grid;
    grid-template-columns: 119px 81px 1fr;
    padding: 29px 0 24px;
    border-top: 1px solid var(--clr-vip-primary-30)
}

#form .f-form__block.-no-required {
    grid-template-columns: auto 1fr;
    gap: 40px
}

#form .f-form__label {
    display: block;
    margin-block:calc((1em - 1lh)/2);line-height: var(--lh-160);
    color: var(--txt-color);
    letter-spacing: var(--ls-m)
}

#form .f-form__required {
    max-width: 41px;
    height: -moz-max-content;
    height: max-content;
    padding: 1px 0;
    margin-top: 0!important;
    font-size: var(--fs-12);
    color: var(--clr-vip-primary-70);
    text-align: center;
    background-color: var(--clr-vip-secondary-100)
}

#form input[type=date]::-webkit-calendar-picker-indicator {
    filter: invert(1)
}

#form input[type=date]::-webkit-clear-button,#form input[type=date]::-webkit-inner-spin-button {
    display: none
}

#form input[type=date]::-moz-calendar-picker-indicator {
    filter: invert(1)
}

#form input[type=date]::-ms-clear {
    display: none
}

#form input[type=date]::-ms-reveal {
    display: none
}

#form .f-form__check .wpcf7-list-item-label {
    position: relative;
    padding-left: 24px
}

#form .f-form__check .wpcf7-list-item-label::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    content: "";
    background-color: var(--clr-vip-primary-70);
    border: 1px solid var(--clr-vip-primary-30);
    border-radius: 2px;
    transform: translateY(-50%)
}

#form .f-form__check .wpcf7-list-item-label::after {
    position: absolute;
    top: 37%;
    left: 1px;
    display: block;
    width: 6px;
    height: 12px;
    content: "";
    border: solid #fff;
    border-width: 0 2px 2px 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    transform: rotate(45deg) translateY(-50%)
}

#form input,#form select,#form textarea {
    font-family: inherit
}

#form input:not([type=checkbox],[type=submit],[type=radio]),#form select,#form textarea {
    width: 100%;
    max-width: 600px;
    height: 48px;
    padding: 11px 16px;
    line-height: var(--lh-160);
    color: var(--clr-white);
    background-color: var(--clr-vip-primary-70)!important;
    border: 0
}

#form input:not([type=checkbox],[type=submit],[type=radio])::-moz-placeholder,#form select::-moz-placeholder,#form textarea::-moz-placeholder {
    color: var(--clr-vip-primary-30)
}

#form input:not([type=checkbox],[type=submit],[type=radio])::placeholder,#form select::placeholder,#form textarea::placeholder {
    color: var(--clr-vip-primary-30)
}

#form textarea {
    min-height: 88px
}

#form input[type=submit] {
    width: 100%;
    height: 64px;
    padding: 11px 0;
    margin-top: 24px;
    text-align: center;
    cursor: pointer;
    background-color: var(--clr-vip-secondary-100);
    border: 0;
    transition: opacity var(--transition-s)
}

#form input[type=radio] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto
}

#form input:-internal-autofill-selected {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    background-color: var(--clr-vip-primary-70)!important;
    box-shadow: 0 0 0 1000px var(--clr-vip-primary-70) inset!important;
    -webkit-text-fill-color: var(--clr-white)!important
}

#form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

#form .f-form__select {
    position: relative
}

#form .f-form__link::after,#form .f-form__select::after {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%
}

#form .f-form__select::after {
    position: absolute;
    top: 50%;
    right: 8px;
    display: block;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M6%208L10%2012L14%208%22%20stroke%3D%22white%22%2F%3E%20%3C%2Fsvg%3E)
}

#form .f-form__address-row {
    display: flex;
    gap: 40px;
    align-items: start;
    margin-bottom: 8px
}

#form .f-form__address-row .f-form__address-block,#form .f-form__address-row .f-form__address-block+.f-form__address-block {
    margin-top: 0
}

#form .f-form__address-block {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px
}

#form .f-form__address-block+.f-form__address-block {
    flex: 1;
    margin-top: 8px
}

#form .f-form__address-label {
    flex-shrink: 0;
    line-height: var(--lh-160);
    color: var(--txt-color);
    letter-spacing: var(--ls-m)
}

#form .f-form__address-label.-confirm {
    transform: none
}

#form .f-form__cap {
    margin-top: 2px;
    font-size: var(--fs-14);
    line-height: var(--lh-160)
}

#form .f-form__confirm-text {
    text-align: center
}

#form .f-form__confirm-row {
    margin-top: 8px
}

#form .f-form__confirm-row .wpcf7-list-item {
    margin: 0
}

#form .f-form__link {
    border-bottom: 1px solid #585858
}

#form .f-form__link::after {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    margin-left: 5px;
    background: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M5.44444%202.33333V3.88889H1.55556V12.4444H10.1111V8.55556H11.6667V13.2222C11.6667%2013.6518%2011.3185%2014%2010.8889%2014H0.777778C0.348227%2014%200%2013.6518%200%2013.2222V3.11111C0%202.68156%200.348227%202.33333%200.777778%202.33333H5.44444ZM14%200V6.22222H12.4444L12.4444%202.65456L6.3833%208.71663L5.28336%207.6167L11.3438%201.55556H7.77778V0H14Z%22%20fill%3D%22%23C3B692%22%2F%3E%20%3C%2Fsvg%3E)
}

#form .f-form__confirm-label {
    text-align: center
}

#form .f-form__confirm-label .wpcf7-list-item-label {
    position: relative;
    display: block;
    width: -moz-max-content;
    width: max-content;
    padding-left: 24px;
    margin: auto;
    color: var(--clr-white);
    cursor: pointer
}

#form .f-form__confirm-label .wpcf7-list-item-label::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    content: "";
    background-color: var(--clr-vip-primary-70);
    border: 1px solid var(--clr-vip-primary-30);
    border-radius: 2px;
    transform: translateY(-50%)
}

#form .f-form__confirm-label .wpcf7-list-item-label::after {
    position: absolute;
    top: 37%;
    left: 1px;
    display: block;
    width: 6px;
    height: 12px;
    content: "";
    border: solid #fff;
    border-width: 0 2px 2px 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    transform: rotate(45deg) translateY(-50%)
}

#form #your-email-confirm:-internal-autofill-selected {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    background-color: var(--clr-vip-primary-70)!important;
    box-shadow: 0 0 0 1000px var(--clr-white) inset!important;
    -webkit-text-fill-color: var(--clr-black)!important
}

#form .wpcf7-list-item-label {
    color: var(--txt-color)
}

#form .wpcf7-not-valid-tip {
    margin-top: 8px
}

#form .wpcf7-not-valid textarea,#form input.wpcf7-not-valid {
    color: var(--clr-black)!important;
    background-color: var(--clr-white)!important
}

.wpcf7-response-output {
    color: var(--clr-white)!important
}

.wpcf7-form-control-wrap>.wpcf7-not-valid-tip {
    display: none;
    margin-top: 10px
}

.wpcf7-form-control-wrap.is-show>.wpcf7-not-valid-tip {
    display: block
}

.wpcf7-previous {
    max-width: none!important;
    pointer-events: initial!important;
    cursor: pointer!important
}

#autozip {
    display: none!important
}

@media only screen and (max-width: 63.99375em) {
    #form.-not-premium .wp-block-flexible-table-block-table {
        margin-right:0;
        box-shadow: none
    }

    #form.-not-premium .wp-block-flexible-table-block-table table {
        display: block;
        min-width: 0
    }

    #form.-not-premium .wp-block-flexible-table-block-table table tr {
        display: flex;
        flex-direction: column
    }

    #form.-not-premium .wp-block-flexible-table-block-table table tr td,#form.-not-premium .wp-block-flexible-table-block-table table tr th {
        display: block;
        width: 100%!important;
        border-right: none
    }

    #form.-not-premium .wp-block-flexible-table-block-table table tr td.-sp-no-border {
        border: 0!important
    }

    #form .f-form__row.-sp_column {
        flex-direction: column;
        align-items: start
    }

    #form .f-form__check .wpcf7-list-item-label {
        padding-left: 22px
    }
}

@media only screen and (max-width: 47.9375em) {
    #form .f-form__block {
        grid-template-areas:"name required""input input";
        grid-template-columns: auto 1fr;
        padding: 20px 0 16px
    }

    #form .f-form__block.-no-required {
        gap: 8px;
        padding-bottom: 0
    }

    #form .f-form__label {
        grid-area: name;
        margin-right: 6px;
        font-size: var(--fs-14)
    }

    #form .f-form__label br {
        display: none
    }

    #form .f-form__required {
        grid-area: required;
        max-width: 36px;
        margin-top: -2px!important;
        font-size: var(--fs-10)
    }

    #form .f-form__input-area {
        grid-area: input;
        margin-top: 10px
    }

    #form input[type=submit] {
        height: 62px;
        padding: 21px 0;
        font-size: var(--fs-14);
        letter-spacing: var(--ls-m)
    }

    #form .f-form__address-block,#form .f-form__address-row {
        flex-direction: column;
        gap: 8px
    }

    #form .f-form__address-row .f-form__address-block+.f-form__address-block {
        margin-top: 8px
    }

    #form .f-form__address-block {
        display: flex;
        width: 100%
    }

    #form .f-form__address-block.-sp-column {
        flex-direction: column;
        align-items: start
    }

    #form .f-form__address-label {
        font-size: var(--fs-14)
    }

    #form .f-form__confirm-text {
        margin-top: 13px;
        font-size: var(--fs-14)
    }

    #form .f-form__confirm-label .wpcf7-list-item-label {
        padding-left: 22px;
        font-size: var(--fs-14)
    }

    #form .wpcf7-not-valid-tip {
        font-size: var(--fs-14)
    }
}

@media (hover: hover) {
    #form input[type=submit]:hover {
        opacity:.75
    }
}

@media print,screen and (min-width: 48em) {
    #form .f-form__input-area {
        margin-top:-5px
    }

    #form .f-form__address-label {
        transform: translateY(11px)
    }

    #form [data-name=your-zip] {
        max-width: 250px
    }

    #form [data-name=your-prefecture] {
        max-width: 197px
    }
}

@media print,screen and (min-width: 64em) {
    #form .f-form__birth-row {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px
    }
}
